<!DOCTYPE html>
<html lang = "et"> 
<head>
	<meta charset="utf8">
	<title>Marsell UwU</title>
	<link rel="stylesheet" href="/style/gallery.css">
	<link rel="stylesheet" href="/style/modal.css">
	<script src="/script/gallery.js" defer></script>
</head>
<body>
	<div style="text-align: center;">
		<img src="/images/vp_banner_2024.png" alt="Veebiprogrammeerimise 2024 aasta banner">
	</div>
	<h1>>Hello World_</h1>
	<hr>
	<p>See leht on tehtud õppetöö raames <a href="https://www.tlu.ee" target="_blank">Tallinna Ülikoolis</a> ja ei sisalda mingit *asjakohast* materjali.</p>
	<h2>| <a href="/home">Avalehele</a> |</h2>
	<img src="../~rinde/media/photos/TLU_600x400/tlu_43.jpg" alt="Tallinna Ülikooli Hügieenlahendused">
	<img src=https://j.gifs.com/Kr00Pd.gif>
	<p>I like rocket science :3</p>
	<p>Siin pidi olema kosmoseraketti plahvatuse gif, juhul kui seda ei ole palume pöörduda kõrvalkassasse või pakendis oleva infolehte abi poole.</p>
	<hr>
	<dialog id="modal" class="modalarea">
		<span id="modalClose" class="modalclose">&tilde;</span>
		<div class="modalhorizontal">
			<div class="modalvertical">
				<p id="modalCaption"></p>
				<img id="modalImage" src="/pics/epty.png" alt="galeriipilt">
			</div>
		</div>
	</dialog>
	<p>Fotogalerii:</p>
	<p><%- links %><p>
	<div id="gallery" class="gallery">
		<% listData.forEach(function(image){ %>
			<img src="<%= image.href %>" alt="<%= image.alt %>" class="thumbs" data-filename="<%= image.fileName %>">
		<% }); %>
	</div>
</body>
</html>