<!DOCTYPE html>
<html lang = "et"> 
<head>
	<meta charset="utf8">
	<title>Marsell UwU</title>
</head>
<body>
	<img src="/images/vp_banner_2024.png" alt="Veebiprogrammeerimise 2024 aasta banner">
	<h1>>Hello World_</h1>
	<hr>
	<p>See leht on tehtud õppetöö raames <a href="https://www.tlu.ee" target="_blank">Tallinna Ülikoolis</a> ja ei sisalda mingit *asjakohast* materjali.</p>
	<img src="../~rinde/media/photos/TLU_600x400/tlu_43.jpg" alt="Tallinna Ülikooli Hügieenlahendused">
	<img src=https://j.gifs.com/Kr00Pd.gif>
	<p>I like rocket science :3</p>
	<p>Siin pidi olema kosmoseraketti plahvatuse gif, juhul kui seda ei ole palume pöörduda kõrvalkassasse või pakendis oleva infolehte abi poole.</p>
	<hr>
	<p>Mul käib sellel kursusel mitu sõpra:</p>
	<ul>
		<li><a href=../~marcpuus>Marcus</a></li>
		<li><a href=../~martkrip>Martin</a></li>
	</ul>
	<p>:3</p>
	<ul>
		<li> <a href="/timenow">Ajainfo</a></li>
		<li> <a href="/vanasonad">Vanasõnad</a></li>
		<li> <a href="/eestifilm">Eesti film</a></li>
		<li> <a href="/regvisit">Registreeri oma külastus(LEGACY)</a></li>
		<li> <a href="/regvisitDB">Registreeri oma külastus</a></li>
		<li> <a href="/coolpeople">Super inimeste nimekiri</a></li>
	</ul>
</body>
</html>