<!DOCTYPE html>
<html lang = "et"> 
<head>
	<meta charset="utf8">
	<title>Marsell UwU</title>
</head>
<body>
	<img src="/images/vp_banner_2024.png" alt="Veebiprogrammeerimise 2024 aasta banner">
	<h1>>Hello World_</h1>
	<hr>
	<p>See leht on tehtud õppetöö raames <a href="https://www.tlu.ee" target="_blank">Tallinna Ülikoolis</a> ja ei sisalda mingit *asjakohast* materjali.</p>
	<hr>
	<h2>--ERROR 404  (uwu) --</h2>
	<p>OwO -Seda lehte pole olemas- OwO</p>
	<img src="/images/kerfus-bellabot.gif" alt="Robot screen eyes spinning in confusion">
</body>
</html>