<html>
<head>
	<meta charset="utf-8">
	<title>Marsell Kovalev, veebiprogrammeerimine 2024</title>
</head>
<body>
	<div style="text-align: center;">
		<img src="/images/vp_banner_2024.png" alt="Veebiprogrammeerimise 2024 aasta banner">
	</div>
	<h1>Fotod</h1>
	<ul>
		<li><a href="/photos/photoupload">Fotode lisamine</a></li>
		<li><a href="/photos/gallery">Fotogalerii</a></li>
		<li><a href="/home">Avalehele</a></li>
	</ul>
	<hr>
</body>
</html>