<!DOCTYPE html>
<html lang = "et"> 
<head>
	<meta charset="utf8">
	<title>Marsell UwU</title>
</head>
<body>
	<div style="text-align: center;">
		<img src="/images/vp_banner_2024.png" alt="Veebiprogrammeerimise 2024 aasta banner">
	</div>
	<h1>>Hello World_</h1>
	<hr>
	<p>See leht on tehtud õppetöö raames <a href="https://www.tlu.ee" target="_blank">Tallinna Ülikoolis</a> ja ei sisalda mingit *asjakohast* materjali.</p>
	<hr>
	<p>:3</p>
	<ul>
		<li> <a href="/home">Avaleht</a></li>
		<h2>Lisa foto!</h2>
		<form method="POST" enctype="multipart/form-data">
			<label for "photoInput">Vali soovitud pildifail</lable>
			<input id="photoInput" name="photoInput" type="file">
			
			<label for "altInput">Pildi slogon:</lable>
			<input id="altInput" name="altInput" placeholder="Pildi slogon">
			<hr>
			<input type="radio" id="privacyInput1" name="privacyInput"value="1" checked>
			<label for="privacyInput1">Privaatne (ainult ise näed)</label>
			
			<input type="radio" id="privacyInput2" name="privacyInput"value="2">
			<label for="privacyInput2">Turvaline (Sisseloginud folksid näevad)</label>
			
			<input type="radio" id="privacyInput3" name="privacyInput"value="3">
			<label for="privacyInput3">Avalik (avatud kõikidele tapmiseks)</label>
			
			<input type="submit" id="photoSubmit" name="photoSubmit" value="Lae üles">
		</form>
	</ul>
</body>
</html>