<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Marsell Kovalev, veebiprogrammeerimine 2024</title>
</head>
<body>
	<div style="text-align: center;">
		<img src="/images/vp_banner_2024.png" alt="Veebiprogrammeerimise 2024 aasta banner">
	</div>
	<h1>Uudised</h1>
	<ul>
		<li><a href="/news">Uudiste avaleht</a></li>
		<li><a href="/home">Avalehele</a></li>
	</ol>
	<h2>Viimased uudised</h2>
	<ul>
	<% news.forEach(function(item){ %>
		 <li><h2><a href="/news/read/<%= item.id %>"><%= item.news_title %></a></h2></li>
		 <span><b>| </b> <%= item.news_text %></span>
		 <b><hr></b>
	<% }); %>
	</ol>
</body>
</html>