<!DOCTYPE html>
<html lang = "et"> 
<head>
	<meta charset="utf8">
	<title>Marsell UwU</title>
</head>
<body>
	<img src="/images/vp_banner_2024.png" alt="Veebiprogrammeerimise 2024 aasta banner">
	<h1>>Hello World_</h1>
	<hr>
	<p>See leht on tehtud õppetöö raames <a href="https://www.tlu.ee" target="_blank">Tallinna Ülikoolis</a> ja ei sisalda mingit *asjakohast* materjali.</p>
	<hr>
	<p>:3</p>
	<ul>
		<li> <a href="/">Avaleht</a></li>
		<h2>Pane oma nimi kirja</h2>
		<form method="POST">
			<label for="firstNameInput">Eesnimi: </label>
			<input type="text" id="firstNameInput" name="firstNameInput" placeholder="Eesnimi ...">
			<br>
			<label for="firstNameInput">Perekonnanimi: </label>
			<input type="text" id="lastNameInput" name="lastNameInput" placeholder="Perekonnanimi ...">
			<input type="submit" id="regSubmit" name="regSubmit" value="Salvesta">
		</form>
	</ul>
</body>
</html>