<!DOCTYPE html>
<html lang = "et"> 
<head>
	<meta charset="utf8">
	<title>Marsell UwU</title>
</head>
<body>
	<div style="text-align: center;">
		<img src="/images/vp_banner_2024.png" alt="Veebiprogrammeerimise 2024 aasta banner">
	</div>
	<h1>>Hello World_</h1>
	<hr>
	<p>See leht on tehtud õppetöö raames <a href="https://www.tlu.ee" target="_blank">Tallinna Ülikoolis</a> ja ei sisalda mingit *asjakohast* materjali.</p>
	<h2>| <a href="/signup">Mul ei ole kontot</a> | <a href="/">Avalehele</a> |</h2>
	</ul>
	<p>:3</p>
	<p>Logi sisse</p>
		<form method="POST">
		<label for="emailInput">E-mail (kasutajatunnuseks)</label>
		<input type="email" id="emailInput" name="emailInput" placeholder="Sinu e-mail ....">
		<br>
		<label for="passwordInput">Salasõna (min 8 märki)</label>
		<input type="password" id="passwordInput" name="passwordInput">
		<br>
		<input type="submit" id="loginSubmit" name="loginSubmit" value="Logi selle hullumajja sisse">
		<span><%= locals.notice || "Ootel" %></span>
		</form>
</body>
</html>