<!DOCTYPE html>
<html lang = "et"> 
<head>
	<meta charset="utf8">
	<title>Marsell UwU</title>
</head>
<body>
	<div style="text-align: center;">
		<img src="/images/vp_banner_2024.png" alt="Veebiprogrammeerimise 2024 aasta banner">
	</div>
	<h1>>Hello World_</h1>
	<hr>
	<p>See leht on tehtud õppetöö raames <a href="https://www.tlu.ee" target="_blank">Tallinna Ülikoolis</a> ja ei sisalda mingit *asjakohast* materjali.</p>
	<hr>
	<p>:3</p>
	<h2>Eesti filmide tegelased</h2>
	<ul>
		<li> <a href="/home">Avaleht</a></li>
		<li> <a href="/eestifilm">Eesti filmi avaleht</a></li>
	</ul>
	<ul>
			<% persons.forEach(function(item){%>
				<li><%= item.first_name %> <%= item.last_name %>, sündinud <%= item.birth_date %></li>
				<% }); %>
	</ul>
</body>
</html>